.navbar {
  background-color: #1d2d44;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
}

.side-button {
  flex-shrink: 0;
}

.center-buttons {
  display: flex;
  gap: 30px; /* espacio entre botones centrales */
  justify-content: center;
  align-items: center;
}

.nav-button {
  background-color: #eae5d1;
  color: #000;
  border: none;
  border-radius: 15px;
  padding: 25px 60px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #dcd6bb;
}
