<div class="login-container">
    <div class="image-section">
      <img src="../../../assets/images/imgLogin.jpg" alt="Gamers" />
    </div>
  
    <div class="form-section">
  
      <!-- Rectángulo para ARENAGG -->
      <div class="logo-box">ARENAGG</div>
  
      <!-- Contenedor verde del formulario -->
      <div class="login-card">
        <h2 class="welcome">WELLCOME<br />BACK CHAMP!</h2>
  
        <form>
          <label for="username">Username</label>
          <input id="username" type="text" />
  
          <label for="password">Password</label>
          <input id="password" type="password" />
  
          <button type="submit">LOGIN</button>
        </form>
  
        <p class="register">
          Dont have an acount? <a href="#">Register</a>
        </p>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>
  