<div class="login-container">
    <div class="image-section">
      <img src="../../../assets/images/imgLogin.jpg" alt="Gamers" />
    </div>
  
    <div class="form-section">
  
      
      <div class="logo-box">ARENAGG</div>
  
      <div class="login-card">
        <h2 class="welcome">WELCOME<br />ROOKIE!</h2>
  
        <form>
          <label for="username">Username</label>
          <input id="username" type="text" />
  
          <label for="email">Email</label>
          <input id="email" type="email" />
  
          <label for="password">Password</label>
          <input id="password" type="password" />
  
          <button type="submit">REGISTER</button>
        </form>
  
        <p class="register">
          Already have an account? <a href="#">Login</a>
        </p>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>
  