.landing-container {
  background-color: inherit; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin: 20px auto;
}

.content-wrapper {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.image-column {
  flex: 0 0 85%; /* Más ancho para resaltar la imagen */
  display: flex;
  align-items: stretch;
  margin-left: -200px;
}

.featured-image {
  width: 100%;
  height: auto;
  max-height: 90vh; /* Ocupe gran parte de la pantalla */
  object-fit: contain;
  border-radius: 5px;
}

.content-column {
  flex: 1;
}

.section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 40px;
  backdrop-filter: blur(5px);
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.tournaments-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.participate-section {
  text-align: center;
  padding: 40px 0;
  background-color: #1d2d44;
}

.participate-title {
  font-size: 2rem;
  color: #333;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .image-column {
    flex: 1;
  }

  .featured-image {
    max-height: 60vh;
  }
}
