/* Contenedor principal */
.ranking-conteiner {
  color: #f0ead2;
  font-family: 'Orbitron', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
}


.ranking-container {
  display: flex;
  height: 100%;
  width: 100%;
  font-weight: 1;
  gap: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box; 
}


app-menu-filtro {
  width: 250px;
  min-width: 200px;
  margin-right: 5.5rem;
}


.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: -10px; 
}

.ranking-content {
  flex: 1;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
}


.ranking-header {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 2fr;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #f0ead2;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}


.ranking-row {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 2fr;
  padding: 1rem;
  border-radius: 12px;
  background-color: #1D2D44; 
  font-weight: 800;
  text-align: center;
  align-items: center;
  box-sizing: border-box;  
  width: 100%;
  overflow: hidden;        
}

/* Responsive */
@media (max-width: 768px) {
  .ranking-container {
    flex-direction: column;
  }

  app-menu-filtro {
    width: 100%;
    margin-right: 0;
  }

  .ranking-header,
  .ranking-row {
    grid-template-columns: repeat(5, 1fr);
    font-size: 1rem;
  }
}


