.menu-container {
  width: 300px;
  padding: 10px;
  font-family: 'Orbitron';
  color: white;
  margin-left: 15px;
}

.title-button {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  font-weight: bold;
  border: none;
  background: none;
  color: #fefbe5;
  border-top: 10px solid #748cab;
  border-bottom: 10px solid #748cab;
  font-size: 40px;
  letter-spacing: 1px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.game-button {
  width: 80%;
  background-color: #0d1321;
  border: none;
  color: #f0ebd8;
  padding: 10px 0;
  font-weight: bold;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.game-button:hover {
  background-color: #fefbe5;
  color: black;
}

.game-button.selected {
  background-color: #fefbe5;
  color:black ;
}

.title-button:not(:first-child) {
  margin-top: 20px;
}