.tournament-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d2d44;
  border: 1px solid #26385f;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: white;
  gap: 1rem;
}

.game-icon {
  width: 125px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
  flex-shrink: 0;
}

/*pasa pasarlo horizontal*/
.tournament-details {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  font-size:25px;

  gap: 0.5rem;
}

.date {
  color: #ffffff;
}

.prize {
  color: #ffffff;
  font-weight: bold;
}


